In [5]:
#FizzBuzz 
for _i in range(1,100+1):
    if _i%15 == 0:
        print("FizzBuzz")
    elif _i%5 ==0:
        print("Buzz")
    elif _i%3 ==0:
        print("Fizz")
    else:
        print(_i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [1]:
i=0
while i<11:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [12]:
name =""
while name !="fool":
    name = input("What your name?")
    print("hi, {}".format(name))

What your name?Kim
hi, Kim
What your name?fool
hi, fool

In [4]:
import random

answer= random.randint(1,100)
print(answer)

trial = 5
while trial>=1:
    guess= int(input("Type some number: "))
    
    if guess ==answer:
        print("Correct!")
        break
    else:
        if guess>answer:
            print("Too High")
        else :
            print("Too Low")
        trial-=1
        print("{} times left".format(trial))
        
if trial == 0:
    print("Game Over.Continue?")
else:
    print("You did it in {} time(s)".format(6-trial))

95
Type some number: 50
Too Low
4 times left
Type some number: 95
Correct!
You did it in 2 time(s)

# Monty Hall

In [18]:
import random


stay =0
switch = 0
trial =100000
for _i in range(1,trial+1):
    doors =[1,0,0]
    random.shuffle(doors)
    
    choice =random.randrange(3)# 0,1,2
    guest = doors[choice]
    
    if guest ==1:
        stay+=1
    else:
        switch+=1
        
print("stay: {}({}%)".format(stay,stay/trial*100))
print("switch: {}({}%)".format(switch,switch/trial*100))

stay: 33412(33.412%)
switch: 66588(66.58800000000001%)

# function

In [23]:
def fastcampus(num):
    _result = num+3
    return _result

In [24]:
fastcampus(3)

6

In [25]:
print("hi")

hi

In [30]:
def print_(text):
    _result="fast " +text+ " campus"
    return _result

In [31]:
print_("rapid")

'fast rapid campus'

In [32]:
def no_input():
    return "Hi"

In [33]:
no_input()

'Hi'

In [37]:
def no_output(text):
    print(text+" with no output")

In [38]:
no_output("some text")

some text with no output

In [39]:
output =no_input()

In [40]:
output

'Hi'

In [42]:
outputs = no_output("some text")

some text with no output

In [44]:
outputs

In [46]:
def no_io():
    print("This function has no and outout.")

In [47]:
no_io()

This function has no and outout.

In [49]:
def multiple_return(a):
    b=a+10
    return a,b

In [50]:
multiple_return(7)

(7, 17)

In [52]:
def decider(a):
    if a ==10:
        print("This was not I want.")
        return
    b=a+3
    return b

In [53]:
decider(10)

This was not I want.

In [54]:
decider(12)

15

In [71]:
def calculator(cal,data1,data2):
    #paraml : 연산자("+","-")
    #param2,3 : 숫자
    pass #틀을 잡아놓고 살을 붙일때 사용됨
    if type(data2)==str or type(data1) ==str:
        print("Only number is need!")
        return False
    if cal=="+":
        _backdata = data1+data2
        return backdata
    elif cal=="-":
        if data1>data2:
            _backdata = data1 -data2
        else :
            _backdata =data2 -data1
        return _backdata    
    else:
        print("Wrong Input")
    pass #틀을 잡아놓고 살을 붙일때 사용됨

In [74]:
calculator("+",2,3)

5

In [75]:
calculator("-",2,3)

1

In [106]:
def is_leap(year=2000):
    # 4년에 한번 윤년
    #100으로 나누어 떨어지면 평년
    #400으로 나누어 지면 윤년
    #나머지는 평년
    #if문을 많이 쓸때
    #if year %4 ==0:
        #if year%100==0:
            #if year%400 ==0:
                #result = "leap year"
            #else:    
                #result = "p.ain year"
        #else:
            #result = "leap year"
    #else:
        #resilt ="plain year"
    #return result
    if year%4==0 and (year%100!=0 or year%400==0):
        _result = "윤년"
    else :
        _result ="평년"
    return _result,year
    pass

In [108]:
is_leap()

('윤년', 2000)

In [112]:
def call_me(name="Fool",Fool=True):
    print("hi,{}".format(name))
    if Fool ==True:
        print("but,you are Fool.")
    else:
        print("oh,you are not Fool")

In [114]:
call_me("fastcampus",False)

hi,fastcampus
oh,you are not Fool

In [117]:
def mul_sum(*args):#여러개의 값을 받을수있음
    _result = 0
    for _i in args:
        print(_i)
        _result +=_i
    return _result

In [118]:
mul_sum(1,2,3,4,5)

1
2
3
4
5

15

In [121]:
def show_kwargs(**cats):
    print(cats)

In [122]:
show_kwargs(a=19,b="fastcampus")

{'a': 19, 'b': 'fastcampus'}

In [123]:
sign_up(김패캠,4,seoul)#랜덤순서로 나옴
sign_up(age='4',name='김패캠',add='seoul')#저장한 순서로나옴

NameError: name 'sign_up' is not defined

In [139]:
#https://search.naver.com/search.naver?query=아우디
def url_maker(domain,**kwargs):
    url = "https://search." + domain +".com/search."+domain +"?"
    for key in kwargs.keys():
        if key =="fastcampus":
            continue
        else:    
            url =url + key+"="+kwargs[key]+"&"
    return url

In [141]:
url_maker("google",query="아우디",utm_source="naver",ie ="utf_8")

'https://search.google.com/search.google?query=아우디&utm_source=naver&ie=utf_8&'

In [152]:
def show_num(x):
    _result =x+1
    return x+1

In [159]:
x = show_num(20)

In [164]:
x

21

In [168]:
def glob_test():
    global x#글로벌 쓰는거 별로 않좋음
    x=x+1
    return x

In [169]:
glob_test()

22

In [170]:
x

22

In [172]:
veriablea =1


def sumsum(a):
    a=a+1
    return a

In [173]:
veriablea=sumsum(veriablea)

In [174]:
veriablea

2

In [180]:
#Recursive

times = int(input("How many times? "))
def curse_beast(time):
    if time < 1:
        print("Recurse Complete!")
        return False
    else:
        print("Fusion! ({} times left)".format(time-1))
        return curse_beast(time-1)
curse_beast(times)

How many times? 5
Fusion! (4 times left)
Fusion! (3 times left)
Fusion! (2 times left)
Fusion! (1 times left)
Fusion! (0 times left)
Recurse Complete!

False

In [181]:
old_list = [1,2,3,4,5]

double_list=[]
for i in old_list:
    double_list.append(i*2)

In [182]:
double_list

[2, 4, 6, 8, 10]

In [183]:
double_list=[i*2 for i in old_list]

In [185]:
double_list

[2, 4, 6, 8, 10]

In [3]:
old_list = [1, 2, 3, 4, 5,]
doubled_list = []
for i in old_list:
    if i % 2 == 0:
        doubled_list.append(i *2)

In [4]:
del doubled_list

In [5]:
doubled_list = [i*2 for i in old_list if i%2==0]

In [6]:
doubled_list

[4, 8]

In [2]:
old_list = [1, 2, 3, 4, 5,]
doubled_list = []
for i in old_list:
    if i % 2 == 0:
        doubled_list.append(i *2)
    else:
        doubled_list.append(i**2)

In [8]:
doubled_list

[1, 4, 9, 8, 25]

In [5]:
doubled_list=[i*2 if i%2==0 else i**2 for i in old_list ]

In [6]:
doubled_list

[1, 4, 9, 8, 25]

In [11]:
#숙제 1:argment를 이용해 calculator() develop
#숙제 2:1~100까지 fizzbuzz를 list comprehension으로 완성하기